#Ignorar toda a pasta .metadata dentro da workspace
Desenvolvimento/Workspace/.metadata/

#Ignorar toda a pasta .recommenders dentro da workspace
Desenvolvimento/Workspace/.recommenders

#Ignorar todos os arquivos .class
*.class

#Ignore thumbnails criado pelo windows
Thumbs.db

#Ignorar arquivos cache
*.cache