#Ignorar workspace
Desenvolvimento/Workspace/.metadata/
Desenvolvimento/Workspace/.recommenders
Desenvolvimento/Workspace/*/bin/

#Ignorar todos os arquivos .class
*.class

#Ignore thumbnails criado pelo windows
Thumbs.db

#Ignorar arquivos cache
*.cache